/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  width: 90vw;
  max-width: 90vw;
  margin: 20px 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
h2,
h3 {
  font-size: 3rem;
  color: teal;
  font-family: Indie Flower, cursive;
}
h4 {
  font-size: 2.2rem;
  color: teal;
  font-family: Indie Flower, cursive;
}
p {
  font-size: 1.6rem;
  color: black;
}
@media (min-width: 800px) {
  body {
    max-width: 800px;
    align-items: center;
  }
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 90vw;
}
header img {
  width: 80vw;
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
header nav a {
  font-size: 2rem;
  border-bottom: 2px solid lightgrey;
  width: 40vw;
  text-align: center;
  padding: 2% 0;
  margin: 2% 0;
  text-decoration: none;
  color: darkslategrey;
}
header nav a:hover {
  color: grey;
}
@media (min-width: 500px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    align-items: flex-end;
  }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header nav a {
    margin: 0;
    text-align: none;
    width: 20vw;
    border: none;
  }
  header img {
    width: 40vw;
    border: none;
  }
}
@media (min-width: 800px) {
  header {
    width: 800px;
  }
  header img {
    width: 500px;
  }
  header nav a {
    width: 150px;
  }
}
.top-content {
  margin: 4% 0;
  border-bottom: 1px solid teal;
}
.top-content img {
  width: 100%;
  height: 200px;
}
.top-content h3 {
  margin: 3% 0;
  color: teal;
  font-family: Indie Flower, cursive;
}
.top-content p {
  margin-bottom: 2%;
  color: black;
}
.middle-content {
  width: 100%;
  max-width: 90vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 6%;
  height: 275px;
  padding-bottom: 4%;
  border-bottom: 1px solid teal;
}
.middle-content .middle-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.middle-content .middle-text h3 {
  margin: 5% 0;
  font-family: Indie Flower, cursive;
}
.middle-content .middle-text button {
  width: 25vw;
  margin-left: 35px;
}
.middle-content .middle-text button a {
  text-decoration: none;
  color: black;
}
.middle-content .middle-img {
  width: 50%;
}
.middle-content .middle-img img {
  width: 100%;
}
@media (min-width: 500px) {
  .middle-content {
    padding-bottom: 12%;
  }
  .middle-content .middle-img img {
    height: 325px;
  }
}
@media (min-width: 800px) {
  .middle-content .middle-text button {
    width: 200px;
  }
  .middle-content img {
    max-width: 400px;
  }
}
.bottom-content {
  width: 100%;
  max-width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6%;
  height: 275px;
}
.bottom-content .bottom-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bottom-content .bottom-text h3 {
  margin: 5% 0;
  font-family: Indie Flower, cursive;
}
.bottom-content .bottom-text button {
  width: 25vw;
  margin-left: 35px;
}
.bottom-content .bottom-text button a {
  text-decoration: none;
  color: black;
}
.bottom-content .bottom-img {
  width: 50%;
}
.bottom-content .bottom-img img {
  width: 100%;
}
@media (min-width: 500px) {
  .bottom-content .bottom-img img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 800px) {
  .bottom-content .bottom-text button {
    width: 200px;
  }
  .bottom-content img {
    max-width: 400px;
  }
}
footer {
  background: grey;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footerImg {
  width: 15vw;
  margin: 1vw;
}
footer .footerImg img {
  width: 100%;
}
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 70vw;
  align-items: flex-end;
}
footer nav a {
  padding: 2%;
  margin: 5%;
  font-size: 1.4rem;
  text-decoration: none;
  color: darkslategrey;
  white-space: nowrap;
}
@media (min-width: 800px) {
  footer .footerImg {
    width: 100px;
    margin: 10px;
  }
  footer .footerImg img {
    width: 75px;
  }
  footer nav {
    width: 600px;
  }
  footer nav a {
    font-size: 1.8rem;
    margin: 2%;
    padding: 3%;
  }
}
.aboutUsContainers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.aboutUsContainers .profiles div {
  margin: 5%;
}
.aboutUsContainers .profiles div h2 {
  margin: 8% 0 4% 0;
  padding: 4%;
  border-bottom: 1px dotted #411e09;
}
.aboutUsContainers .profiles div img {
  width: 40%;
  margin: 3%;
  border: 10px solid #411e09;
}
.aboutUsContainers header {
  border-bottom: 1px solid #411e09;
  padding-bottom: 2%;
}
@media (min-width: 500px) {
  .aboutUsContainers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .aboutUsContainers header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .aboutUsContainers .profiles .multiDevs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .aboutUsContainers .profiles .multiDevs img {
    width: 90%;
  }
}
