/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  width: 90vw;
  max-width: 90vw;
  margin: 20px 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
h2,
h3 {
  font-size: 3rem;
  color: black;
}
p {
  font-size: 1.8rem;
  color: black;
}
@media (min-width: 800px) {
  body {
    max-width: 800px;
    align-items: center;
  }
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 90vw;
}
header img {
  width: 80vw;
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
header nav a {
  font-size: 2rem;
  border-bottom: 2px solid lightgrey;
  width: 40vw;
  text-align: center;
  padding: 2% 0;
  margin: 2% 0;
  text-decoration: none;
  color: darkslategrey;
}
header nav a:hover {
  color: grey;
}
@media (min-width: 500px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    align-items: flex-end;
  }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header nav a {
    margin: 0;
    text-align: none;
    width: 20vw;
    border: none;
  }
  header img {
    width: 40vw;
    border: none;
  }
}
@media (min-width: 800px) {
  header {
    width: 800px;
  }
  header img {
    width: 500px;
  }
  header nav a {
    width: 150px;
  }
}
.top-content {
  margin: 4% 0;
}
.top-content img {
  width: 100%;
  height: 200px;
}
.top-content h3 {
  margin: 3% 0;
  color: black;
}
.top-content p {
  margin-bottom: 2%;
  color: black;
}
.middle-content {
  width: 100%;
  max-width: 90vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 6%;
  height: 275px;
}
.middle-content .middle-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.middle-content .middle-text h3 {
  margin: 5% 0;
}
.middle-content .middle-text button {
  width: 25vw;
  margin-left: 35px;
}
.middle-content .middle-img {
  width: 50%;
}
.middle-content .middle-img img {
  width: 100%;
}
@media (min-width: 500px) {
  .middle-content .middle-img img {
    height: 325px;
  }
}
@media (min-width: 800px) {
  .middle-content .middle-text button {
    width: 200px;
  }
  .middle-content img {
    max-width: 400px;
  }
}
.bottom-content {
  width: 100%;
  max-width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6%;
  height: 275px;
}
.bottom-content .bottom-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bottom-content .bottom-text h3 {
  margin: 5% 0;
}
.bottom-content .bottom-text button {
  width: 25vw;
  margin-left: 35px;
}
.bottom-content .bottom-img {
  width: 50%;
}
.bottom-content .bottom-img img {
  width: 100%;
}
@media (min-width: 500px) {
  .bottom-content .bottom-img img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 800px) {
  .bottom-content .bottom-text button {
    width: 200px;
  }
  .bottom-content img {
    max-width: 400px;
  }
}
footer {
  background: grey;
  width: 100%;
  text-align: center;
}
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer nav a {
  padding: 2%;
  font-size: 1.6rem;
  text-decoration: none;
  color: darkslategrey;
}
