.bottom-content {
    width: 100%;
    max-width: 900px;
    .flex(row, space-between);

    .bottom-text {
        width: 45%;
        .flex(column, space-around)
    }
    .bottom-img {
        width: 45%;

        img {
            width: 100%;
        }
    }
    }