html{
    font-size: 62.5%;
}
body {
    width: 90vw;
    max-width: 90vw;
    margin: 2% auto;

}

.container {
    .flex(column, flex-start);
    align-items: center;
}

h2, h3 {
    font-size: 3rem;
    color: @headingColor;
    font-family: @headerFont;
}

h4 {
    font-size: 2.2rem;
    color: @headingColor;
    font-family: @headerFont;
}

p {
    font-size: 1.6rem;
    color: @textColor;
}

@media @desktop {
    body {
        max-width: 800px;
        align-items: center;
    }
}