header {
    .flex(column, space-around);
    align-items: center;
    max-width: 90vw;

    img {
    width: 80vw;
    }

    nav {
        .flex(column, space-around);
        align-items: center;

        a {
            font-size: 2rem;
            border-bottom: 2px solid lightgrey;
            width: 40vw;
            text-align: center;
            padding: 2% 0;
            margin: 2% 0;
            text-decoration: none;
            color: @linkColor;
        }

        a:hover {
            color: grey;
        }           
    }

    @media @tablet {
        .flex (row, space-between);
        width: 90vw;
        align-items: flex-end;
        
        nav {
            .flex(row, space-between);

            a {
                    margin: 0;
                    text-align: none;
                    width: 20vw;
                    border: none;
                    }
        }

        img {
            width: 40vw;
            border: none;
        }
    }
}