.middle-content {
    width: 100%;
    max-width: 90vw;
    .flex(row-reverse, space-between);
    align-items: center;
    margin-bottom: 6%;
    height: 275px;

    .middle-text {
        width: 45%;
        .flex(column, space-between);

        h3 {
            margin: 5% 0;
        }

        button {
            width: 25vw;
            margin-left: 35px;
        }
    }
    .middle-img {
        width: 50%;

        img {
            width: 100%;
        }
    }

    @media @tablet {
        .middle-img {
            img {
                height: 325px;
            }
        }
    }
}