@linkColor: darkslategrey;
@textColor: black;
@headingColor: teal;

@backgroundOne: white;
@backgroundTwo: grey;

@borderColor: rgb(65, 30, 9);

@headerFont: Indie Flower, cursive;

@tablet: ~"(min-width: 500px)";
@desktop: ~"(min-width: 800px)";